
<div class="container border" >
  
  <div class="row img " >
    
   <p class="title"><img src="../assets/img/img.jpg" class="Logo"> Restaurant'Name</p>
   
   <p class="P"> Fast Food,Pizza</p>
 

  
  </div>
  
  <div class="row img2" style=" margin-top: 23px;">
        <!--Occupe 2 colonnes-->
        <div class="col-2 col-cm-12" style="background-color: #2e8b57a3;;">
        

        </div>
        <!--Occupe 8 colonnes-->
        <div class="col-8 " style="background-color: #fff">
                <div>
                      <p style="    margin-bottom: 0rem; text-align: -webkit-center;">
                        <i class="fa fa-utensils me-3"></i>Royal</p>
                      <h4 style="text-align: center; border-bottom-style: ridge; font-family: cursive; font-size: xx-large;"><strong> RESTAURANT</strong></h4>
                      <h4 class="H4">Delecious Food</h4>
                </div >
              
                <table id="table1" class="subtitle-table">
                          <tr>
                              <th colspan="2"  style="text-align: center; margin-top: 90px; font-size: xx-large; font-family: serif;">  <strong>LUNCH</strong></th>
                          </tr>
                          <tr>
                              <td  class="left-col">SPICY BEEF BARBACUE</td>
                              <td class="right-col">$20</td>
                          </tr>
                          <tr>
                            <td class="left-col" >SPICY BEEF BARBACUE</td>
                            <td class="right-col">$20</td>
                        </tr>
                        <tr>
                          <td class="left-col">SPICY BEEF BARBACUE</td>
                          <td class="right-col">$20</td>
                      </tr>
                      <tr>
                        <td class="left-col">SPICY BEEF BARBACUE</td>
                        <td class="right-col">$20</td>
                    </tr>
                  
                  <tr>
                    <td class="left-col">SPICY BEEF BARBACUE</td>
                    <td class="right-col">$20</td>
                </tr>
                          <!-- Ajoutez ici les lignes de données si nécessaire -->
                      </table>

                      <table id="table2" class="subtitle-table hidden" >
                        <tr>
                            <th colspan="2"  style="text-align: center; margin-top: 90px; font-size: xx-large; font-family: serif;">  
                              <strong>Cofee</strong></th>
                        </tr>
                        <tr>
                            <td  class="left-col">SPICY BEEF BARBACUE</td>
                            <td class="right-col">$20</td>
                        </tr>
                        <tr>
                          <td class="left-col" >SPICY BEEF BARBACUE</td>
                          <td class="right-col">$20</td>
                      </tr>
                      <tr>
                        <td class="left-col">SPICY BEEF BARBACUE</td>
                        <td class="right-col">$20</td>
                    </tr>
                    <tr>
                      <td class="left-col">SPICY BEEF BARBACUE</td>
                      <td class="right-col">$20</td>
                  </tr>
                
                <tr>
                  <td class="left-col">SPICY BEEF BARBACUE</td>
                  <td class="right-col">$20</td>
              </tr>
                        <!-- Ajoutez ici les lignes de données si nécessaire -->
                    </table>
        </div>

        <!--Occupe 2 colonnes-->
        <div class="col-2 col-cm-12" style="background-color: #ff0000a8;"></div>
  </div>
 